/* Move down content because we have a fixed navbar that is 50px tall */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
body{
  margin:0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #333;
}

header.carousel {
    height: 700px;
  background: #fff;
}

.carousel-indicators li{
  background: #0d96b6;
  border-color: #333;
}

.carousel-caption{
  color: #333;
}

header.carousel .item, header.carousel .item.active, header.carousel .carousel-inner {
    height: 100%;
}